.contact{
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 22px;
}

.contact__content{
    width: 50%;
    justify-content: center;
}

.contact__title{
    font-size: 28px;
    margin-bottom: 0.5em;
    margin-top: 0.5em
}

.contact__banner{
    width: 45%;
}

.contact__social-medias{
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.contact__link{
    text-decoration: none;
    color: var(--main-text-color);
}

.contact__icon{
    width: 6%;
}

.contact__link:hover{
    text-decoration: underline;
}

.contact__last{
    margin-bottom: 2em;
}

@media screen and (max-width:1024px){
    .contact__banner{
        display: none;
    }

    .contact{
        justify-content: center;
    }

    .contact__content{
        width: 80%;
        text-align: center;
    }

    .contact__link, .contact__email{
        font-size: 18px;
    }

    .contact__title{
        font-size: 25px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}