.all-courses{
    flex-wrap: wrap;

}

.course{
    width: 30%;
    height: 226px;
    background-color: var(--course-background);
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 16px;
    padding: 1em;
    border-radius: 30px;
}

.course:hover{
    opacity: 0.9;
}

.course__title{
    margin-bottom: 0.5em;
}

.course__date{
    margin-bottom: 0.5em;
    justify-content: space-between;
}

.course__description-title{
    margin-bottom: 0.5em;
}

.course__description-content{
    text-align: justify;
}

.filter{
    gap: 2%;
    margin-bottom: 1.5em;
}

.filter__btn{
    width: 13%;
    font-size: 15px;
    border: 0;
    background-color: var(--course-background);
    color: var(--main-text-color);
}

.clicked{
    background-color: var(--main-text-color);
    color: var(--btn-text-color);
}

@media screen and (max-width:1024px){
    .course{
        width: 80%;
        height: fit-content;
    }

    .filter{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .filter__btn{
        width: 50%;
        text-align: center;
        margin-bottom: 0.5em;
    }
}
