@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --main-font: 'Roboto', sans-serif;
    --background-color: #DEEFE7;
    --main-text-color: #002333;
    --second-text-color: #445964;
    --btn-text-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
}

.header{
    display: flex;
    margin: 2em 4em 0em 4em;
    justify-content: space-between;
}

.header__logo-content{
    display: flex;
    gap: 1em;
    align-items: center;
}

.header__logo{
    width: 50px;
}

.header__name{
    font-size: 34px;
}

.header__nav{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 60px;
}

.header__nav-link{
    text-decoration: none;
    color: var(--main-text-color);
}

.header__nav-link:hover{
    text-decoration: underline;
}

.btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--btn-text-color);
    background-color: var(--main-text-color);
    width: 30%;
    border-radius: 20px;
    padding: 0.6em 3.5em;
}

.btn:hover{
    opacity: 0.8;
}

.footer{
    display: flex;
    width: 100%;
    color: var(--second-text-color);
    text-align: center;
    flex-direction: column;
    margin-top: auto;
}

.footer__icon{
    width: 25px;
}



.footer__social-medias{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.title{
    font-size: 50px;
    text-align: center;
    margin: 0.5em;
}

.container__text{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 3em;
}