.introduction{
    display: flex;
    align-items: center;
    gap: 4em;
    width: 100%;
    box-sizing: border-box;
}

.introduction__content{
    width: 50%;
}

.introduction-img{
    width: 45%;
}

.introduction__text{
    font-size: 26px;
    padding-bottom: 0.2em;
}

.contrast{
    font-size: 58px;
    font-weight: 700;
    padding: 0;
}

.min-contrast{
    font-size: 30px;
}

.introduction__btns{
    width: 100%;
    gap: 4em;
    margin-top: 1em;
    margin-bottom: 4em;
}

.introduction__social-medias{
    gap: 1em;
}



@media screen and (max-width:1024px){
    body{
        align-items: center;
    }
    
    .introduction{
        display: block;
        margin: auto;
        width: 100%;
        
    }

       
    .introduction-img{
        display: none;
    }

    .introduction__text{
        font-size: 20px;
        padding-bottom: 0.5em;
    }

    .contrast{
        font-size: 35px;
        font-weight: 700;
        padding: 0;
       
    }

    .introduction__btns{
        gap: 3em;
    }

    .introduction__social-medias{
        justify-content: center;
    }
}