.project{
    margin: auto;
    width: 100%;
    
}
.project__content{
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: #B4BEC9;
    padding: 3em 1em 3em 1em;
    border-radius: 20px 0px 0px 20px;
}

.project__sources{
    width: 35%;
    background-color: var(--project-background-color-secondary);
    border-radius: 0px 20px 20px 0px;
}

.project__sources-img{
    width: 80%;
    height: 65%;
    border: 1px solid black;
    margin: auto;
}

.project__btn{
    width: fit-content;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
}

.project__title{
    font-size: 30px;
    padding-bottom: 0.5em;
}

.project__description{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 1em;

}

.swiper{
    width: 90%;
    height: 90%;
}

@media screen and (max-width:1024px){
    .swiper{
        margin: auto;
    }
    
    .project__sources{
        display: none;
    }

    .project__content{
        width: 80%;
        border-radius: 20px;
    }

    .project__title{
        font-size: 25px;
    }

    .project__description{
        font-size: 18px;
        padding-bottom: 1;
        
    }

    .project__btn{
        font-size: 16px;
    }
}