.container{
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
}

.container__text{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 3em;
}


.container a{
    width: 40%;
}

@media screen and (max-width:1024px){
   .container{
        width: 80%;
   }

   .container__text{
    font-size: 18px;
    padding-bottom: 3em;
    }

    .container a{
        width: fit-content;
        font-size: 18px;
    }
    .btn-cv{
        margin-bottom: 1em;
    }
}